*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #121212;
    color:white;
    overflow: hidden;
    
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    background-color: #000;
   
}
.sidebar{
    background-color:black;
    width: 340px;
    border-radius: 1rem;
    /* 1 rem =16px
      2rem=32px */
      margin-right: 0.5rem;
     
}
.sidebar:hover{
    width: 345px;
   
}
.nav{
    color: #fff;
    background-color: #121212;
    border-radius: 1rem;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0.5rem 0.75rem;
   
}
.nav-Option{
line-height: 2.5rem;
opacity: 0.7;
margin-left: 0.5rem;
padding: 0.5rem 0.7rem;

}
.nav-Option:hover{
    opacity: 1;
}
.nav-Option a{
font-size: 1.2rem;
margin-left: 1rem;
}
.library{
    border-radius: 1rem;
   height: 100%;
   margin-top: 0.65rem;
   
}
.option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
}
.Lib-option{
    margin-left: 1rem;
}
.Lib-option img{
    width: 1.25rem;
    height: 1.25rem;
}
.icons{
    display: flex;
    font-size: 1.2rem;
}
.icons i{
    opacity: 0.7;
    margin-right: 1.1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.8rem;
    margin: 0.5rem 0 1.5rem 0rem ;
    padding: 1.2rem 1.25rem;
    
}

.box-p1{
    background-color: #232323;
    font-weight: 600;
    margin-top: 0.5rem;
   

}
.box-p2{
    background-color: #232323;
   margin-top: 1rem;
   opacity: 0.85;
}
.badge{
    background-color: #fff;
    border: none;
    color:black;
    height: 2rem;
    width: fit-content;
    border-radius:100px;
    padding: 0.25rem 1rem;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 1.1rem;
    /* line-height: 10px; */
}
.badge:hover{
    height: 2.1rem;
    font-size: 0.8.1rem;
   
}

a{
    text-decoration: none;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0rem 1.5rem;
    
}
.sticky-nav{
    position: sticky;
    background-color: #121212;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.nav-sticky{
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.image{
    background-color: #000;
    border-radius: 0.75px;
    margin-left: 0.5rem;
}
.image:hover{
    width: 1.75rem;
}
.img{
    background-color:#1d1c1c;
}
.img:hover{
    width: 1.65rem;
}
.down-icon{
    margin-right: 5px; 
    letter-spacing: 8px; 
    align-items: center; 
    justify-content: center;
}
.nav-sticky button ,i{
    margin-right: 1.3rem;
}
.dark-badge{
    color: #fff;
    background-color: #000;
}
.fa-user{
    color: #fff;
    height: 1rem;
    margin-top: 1.1rem;
    border-radius: 0.1rem;
    /* background-color: #000; */
}
@media(max-width:1000px){
.hide{
    display: none;
}
}
.card{
    background-color: #232323;
    margin-top: 0.9rem;
    width: 10rem;
    border-radius: 0.5rem;
    margin-right: 5rem;
    
}
.card-img{
    width: 100%;
    
}
.card p{
    background-color: #232323;
}
.card-container{
    display: flex;
    /* flex-wrap: wrap; */
    
}
.card-title{
    font-weight: 800;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.card-info{
    font-size: 0.81rem;
    letter-spacing:0.1rem;
    justify-content: center;
    font-weight: 300;
    opacity: 0.7;
    cursor: pointer;
}
.card-box{
    background-color: #232323;
    margin-top: 0.9rem;
    width: 10rem;
    border-radius: 0.5rem;
    margin-right: 8rem;
}
.footer{
    height: 18rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* .line{
    height: 10%;
    width: 90%;
    border-top: 1px solid #fff;
} */

.Music-player{
    background-color: black;
    bottom: 0;
    position: fixed;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.album{
    width: 25%;
    background-color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
}
.picture{
   margin-right: 1rem;
   /* margin-left: 0.5rem; */
   height: 3rem;
   width: 3rem;
   border-radius: 0.8rem;
  
}
.picture:hover{
    height: 3.5rem;
}
.name-1{
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    height: 2rem;
    background-color: #000;
    
}
.name-2{
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
}
.name-2:hover{
    opacity: 1;
}
.album-img1{
    height: 1.3rem;
    margin-left: 1rem;
    opacity: 0.85;
}
.album-img2{
    height: 2.2rem;
    margin-top: 0.2rem;
    margin-left: 0.9rem;
    opacity: 0.75;
}
.album-img1:hover{
    opacity: 1;
    height: 1.4rem;
    
}

.album-img2:hover{
    opacity: 1;
}
.player{
    width: 50%;
    background-color: #000;
    
}
.player-controls{
    background-color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-icon{
    background-color: #000;
    height: 1.25rem;
    margin-right: 2rem;
    opacity: 0.75;
   
}
.player-icon:hover{
    opacity: 1;
}
.icon{
    opacity: 1;
    height: 2.5rem;
}
.icon:hover{
    height: 2.8rem;
}
.playback-bar{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    height: 1rem;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
   
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: green;
    height: 1rem;
    width: 1rem;
    background-color: #1bd768;
    border-radius: 50%;
    margin-top: -6px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 3rem;
    
    
}
.control-icon-1{
    height: 2.4rem;
    width: 1.7rem;
    margin-right: 0.8rem;
}
.control-icon-2{
    height: 2.9rem;
    width: 2rem;
    margin-right: 0.8rem;
}
.control-icon-3{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.8rem;
}
.control-icon-4{
    height: 1.2rem;
    width: 1.5rem;
    margin-right: 0.8rem;
   
}
.control-icon-5{
    height: 3rem;
    width: 2rem;
    margin-right: 0.4rem;
}
.con{
    opacity: 0.85;
}
.con:hover{
    opacity: 1;
    color: #fff;
    height: 2.9rem;
    width: 2.5rem;
}
.con-on{
    opacity: 0.45;
}
.con-on:hover{
    opacity: 1;
    height: 1.5rem;
    width: 1.6rem;
}

